
{% extends 'layout.html' %}

    {% block head %}
        <title>Withdraw</title>
    {% endblock %}

    {% block body %}
    <div class="buttonlength">
        <a class="nuhuhline" href="{{ url_for('homepage') }}"> 
            <p class="buttonsapl" id="buttonsbig">Home</p> 
        </a>
    </div>
        <!-- home button -->
    <p>
        write how much you want to deposit
    </p>
    <form action="/rm2bank" method="POST"> <!--puts your info into the database-->
        <label for="amount">Amount:</label>
        <input class="inputsize" type="number" id="amount" name="amount" required>
        <button class="buttonsapl" id="buttonssml" type="submit">Withdraw</button>
    </form>

    <!-- form for inputting how much you want to withdraw, that gets sendt to the backend of the website -->
    {% endblock %}